---
import Main from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.astro";
import { GetSortedPosts } from "../utils/content";

const posts = await GetSortedPosts();
---

<Main
    title="Security Writeups"
    subTitle="CTF Walkthroughs"
>
    <div class="writeups-container">
        <div class="grid-layout">
            {
                posts.map((entry, index) => (
                    <div
                        class="onload-animation"
                        style={`animation-delay: calc(var(--onload-animation-delay) + ${index + 1} * var(--onload-animation-interval));`}
                    >
                        <PostCard
                            id={entry.id}
                            title={entry.data.title}
                            published={entry.data.published}
                            category={entry.data.category}
                            tags={entry.data.tags}
                            description={entry.data.description}
                            image={entry.data.cover}
                            platform={entry.data.platform}
                            platformAvatar={entry.data.platformAvatar}
                            difficulty={entry.data.difficulty}
                            readingMetadata={
                                (entry.rendered!.metadata as any).frontmatter
                                    .readingMetadata
                            }
                        />
                    </div>
                ))
            }
        </div>
    </div>
</Main>

<style>
    .writeups-container {
        @apply mx-3 lg:mx-0;
    }

    .grid-layout {
        @apply grid grid-cols-1 md:grid-cols-2 gap-6 w-full;
    }
</style>
